<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Crypto Conversion App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div><img width="70" height="70" src="https://image.shutterstock.com/image-vector/conversion-money-cash-finance-hand-260nw-2150287429.jpg" alt=""></div>
        <!-- <div><img width="70" height="70" src="https://thumbs.dreamstime.com/b/convert-button-icon-logo-design-convert-button-icon-logo-design-green-style-color-design-190749160.jpg" alt=""></div> -->
        <ul>
            <li><a href="/">App</a></li>
            <li><a href="">Docs</a></li>
            <li><a href="https://github.com/coinconvert/crypto-convert">Github</a></li>
        </ul>
    </nav>
    <header>
        <h1>The Crypto Conversion App</h1><br>
        <p>Check the equivalent of your assets ...</p>
    </header>
    <br>
    <section id="convert">

        <div class="cent">
            <h4>Select coin</h4> <br> <br>
            <form action="/convert" method="post">
                <div class="lex">
                    <div>Token: &nbsp;
                        <select name="token" id="token" required>
                        <option value="btc">BTC</option>
                        <option value="eth">ETH</option>
                        <option value="bnb">BNB</option>
                        <option value="bake">BAKE</option>
                        <option value="doge">DOGE</option>
                        <option value="matic">MATIC</option>
                        <option value="xrp">XRP</option>
                        </select>
                    </div>

                    <div>Fiat: &nbsp;
                        <select name="fiat" id="token" required>
                        <option value="usd">USD</option>
                        <option value="gbp">GBP</option>
                        <option value="eur">EUR</option>
                        </select>
                    </div>

                     <div>   
                         Amount: 
                        <input type="number" name="amount" id="amount" value="1" required min="1" max="1000">
                     </div>
                </div>
                   
<br><br>
                <div class="lex">
                    <p>                    
                    <button type="submit">Convert</button>
                </p>
                </div>
            </form>
        </div>
    </section> 

    <script>
            let el = document.getElementById('amount')
            el.addEventListener('input', function(){    
            if (/^0/.test(this.value) || this.value < 1) {
                this.value = this.value.replace(/^0/, '')
            }
        })
    </script>
</body>
</html>